<ion-header>
  <ion-toolbar>
    <ion-title>escolha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="danger">
        <ion-icon name="aluno"></ion-icon>
       <h3>Aluno</h3>        
    </ion-item-divider>
    <h1>Nome: {{aluno.nome}}</h1>
    <h1>Id:   {{aluno.id}}</h1>
    <h1>Nota: {{aluno.nota}}</h1>
  </ion-item-group>   

    
    <ion-fab vertical='bottom' horizontal='end' slot='fixed'>
      <ion-fab-button (click)='avancarCadastro()'>
        <ion-icon name='arrow-dropright'></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
